.main-container-basket {
    padding-top: 6rem;
    display: flex;
    min-height: 100vh;
    background-color: white;
}

.main-container-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    margin: 4rem 0;
    width: 25%;
    height: fit-content;
    border: 1px solid gray;
    padding: 2rem;
}

.container-basket {
    width: 60%;
    margin: 4rem;
    background-color: white;
}

.basket {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    align-items: center;
}

.basket-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3rem;
    width: 15%;
    font-size: 1rem;
}

.basket-amount {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3rem;
    font-size: 1rem;

}

.basket-total {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3rem;
    font-size: 1rem;

}

.amount {
    display: flex;
    justify-content: space-around;
    width: 4rem;
    align-items: center;
}

.container-total, .container-subtotal, .container-shipping{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: .4rem auto;
}

.container-total {
    font-size: 1.2rem;
    font-weight: 500;
}

.container-buttons {
    margin: 3rem auto;
    width: 100%;
}

.button-finish {
    margin: .5rem auto;
    width: 50%;
    padding: .5rem;
    background-color: rgb(223, 220, 220);
}

.button-continue {
    margin: .5rem auto;
    width: 50%;
    padding: .5rem;
    background-color: rgb(223, 220, 220);
}

.empty-basket {
    font-size: 1.5rem;
    margin-top: 4.5rem;
}

.paypal-butt {
    background-color: white !important;
}

.menu-button {
    background-color: white !important;
}

.containerTyForBuy{
    padding: 6rem 0 3rem 0;
}
.containerTitlesTyForBuy{
    padding: 1rem 0
}

.imgTyForBuy{
    height: 20rem;
}

.ctaShop{
    padding-top: .5rem;
    font-size: 18px;
    text-decoration: none;
    color: black;
}