.main-container-basket {
    padding-top: 6rem;
    display: flex;
}

.main-container-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    margin-top: 4rem;
    width: 25%;
    height: 15rem;
}

.container-basket {
    width: 60%;
    margin: 4rem;
    background-color: white;
}

.basket {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    align-items: center;
}

.basket-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3rem;
}

.basket-amount {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3rem;
}

.basket-total {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3rem;
}

.amount {
    display: flex;
    justify-content: space-around;
    width: 4rem;
    align-items: center;
}

.container-total {
    display: flex;
    width: 50%;
    justify-content: space-between;
}