.ctnCard{
    display: flex;
    inline-size: auto;
    margin: .3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }
   .css-1ri6ub7-MuiPaper-root-MuiCard-root{
       min-width: 18vw;
   }
   .ctnContent{
       display: flex;
       flex-direction: row;
       width: 100%;
   }
   .css-13dt8w2{
    display: flex;
   }
   .css-1t6e9jv-MuiCardActions-root{
       justify-content: end;
       margin: 0;
       padding: 0;
   }
   .css-46bh2p-MuiCardContent-root{
       padding: 10px 0px 2px 10px;
   }

   /* Modal*/
  .imageModal{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border: 5px solid gray;
  }
  .css-1of1wjo{
    display: flex;
    
  }
  .modalPrice{
    display: flex;
    width: 100%;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;
      margin-bottom: 15px;
      padding-bottom: 15px;
  }
  .buttonCarrito {
    margin-top: 5px;
    margin-left:5px ;
    width: 100%;
    padding: 15px 25px;
    border: unset;
    color: #e8e8e8;
    z-index: 1;
    background: #212121;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
  .buttonCarrito::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #e8e8e8;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .buttonCarrito:hover {
    color: #212121;
   }
   
   .buttonCarrito:hover::before {
    width: 100%;
   }
   .selectModal{
    width: 40%;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
   }
   /*TERMINA EL MODAL */