.car-flex {
    display: flex;
    flex-wrap: wrap !important;
}

.carousel {
    background-color: white;
    width: 20rem !important;
    height: 34rem;
    padding: 1rem;
}

.box-car {
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: space-between;
}

.img-caro {
    height: 18rem !important;
    width: 100%;
    object-fit: cover;
}

.price-car {
    font-size: 1.2rem;
    text-align: justify;
    margin-left: 1rem;
}

.detail-car {
    font-size: .9rem;
    text-align: justify;
    margin: 1rem;
}

.bhRnqO {
    right: -27px;

}

.kVtMtA {
    left: -27px;

}

.box-priceFav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 520px){
    .carousel {
        background-color: white;
        width: 10rem !important;
        height: 30rem;
        padding: 1rem;
    }
    .box-car {
        display: flex;
        flex-direction: column;
        height: 8rem;
        justify-content: space-between;
        /* background-color: red; */
    }
    
    .img-caro {
        height: 12rem !important;
        width: 90% !important;
        object-fit: cover;
        margin: auto;
    }
    
    .price-car {
        font-size: 1rem;
        text-align: justify;
        margin-left: 1rem;
    }
    
    .detail-car {
        font-size: .9rem;
        text-align: justify;
        margin: 1rem;
    }
    
    /* .bhRnqO {
        right: -27px;
    
    }
    
    .kVtMtA {
        left: -27px;
    
    } */
    
    .box-priceFav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}