
@media (max-width: 1500px){
    .sc-gzVnrw {
        width: 70rem;
    }
}

@media (max-width: 1500px){
    .sc-bZQynM {
        width: 70rem;
    }
}

@media (max-width: 1160px){
    .sc-gzVnrw {
        width: 60rem;
    }
}

@media (max-width: 1160px){
    .sc-bZQynM {
        width: 60rem;
    }
}
@media (max-width: 1000px){
    .sc-gzVnrw {
        width: 50rem;
    }
}

@media (max-width: 1000px){
    .sc-bZQynM {
        width: 50rem;
    }
}
@media (max-width: 840px){
    .sc-gzVnrw {
        width: 40rem;
    }
}

@media (max-width: 840px){
    .sc-bZQynM {
        width: 40rem;
    }
}

@media (max-width: 680px){
    .sc-gzVnrw {
        width: 30rem;
        
    }
}

@media (max-width: 680px){
    .sc-bZQynM {
        width: 30rem;
        
    }
}
@media (max-width: 520px){
    .sc-gzVnrw {
        width: 20rem;
        
    }
}

@media (max-width: 520px){
    .sc-bZQynM {
        width: 20rem;
        
    }
}
@media (max-width: 520px){
    .img-caro {
        width: 20rem;
        
    }
}