*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* .swiper {
  width: 100%;
  height: 100%;
} */
.containerCarouselNewCollection{
    width: 100% !important;
    height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center; 
}
.containerSwiperNewCollection{
    width: 93%;
    height: 80%;
}

.titleCaruselNewCollection{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
}
.titleCaruselNewCollection p{
    width: 100%;
    margin-left: 10rem;
}
.containerimageproduct{
  width: 18% !important;
  height: 16rem;
  cursor: pointer;
  border-radius: 0.3rem;
  /* padding: 0.5rem; */
}
.imageproduct{
  height:12rem;
  /* width: 100%!important; */
  margin: auto;
  object-fit: cover; 
  background-position: center; 
  background-Size: "cover";
  padding: 0.5rem;
   
 
}
  .name_product_carouselNewC{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name_product_carouselNewC p{
      /* background-color: rgba(3, 3, 3, 0.74); */
      width: 100% !important;
      height: 50% !important;
      font-size: 1rem;
      flex-grow: 1;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.1rem;
    }

  @media(max-width:650px) {
    .titleCaruselNewCollection p {
      text-align: center;
      margin-left: 0;
  }
  }