@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

*{
    font-family: 'Asap Condensed', sans-serif;
}
.mainContainerFooter{
    min-height: 30vh; /*para 1024 */
    background-color: #4D4D4D;
    padding: 1rem 0;
}

.containerInputFooter{
    padding-bottom: 1rem;
}

.titleInputFooter{
    color: white;
    font-size: 1.3rem;
    margin: 0 0 .5rem 0;
    padding-top: .5rem;
}

.everyTitleFooter{
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.containerInfoFooter{
    display: flex;
    justify-content: space-around;
}

.containerFooter p {
    color: white;
}

.everyContainerFooter{
    width: 14rem;   /* o  23% o 24vw */
    border-radius: 5%;
    padding-top: 10px;
}

.containerFooter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    flex-wrap: wrap
}

.everyImageFooter{
    margin: 0 .5rem;
}

.icon{
    margin: 0 .3rem;
}

.containerPayments{
    flex-grow: 1;
} 

.rights{
    flex-grow: 1;
}

.socialMediasFooter{
    flex-grow: 1.1;
}

.infoFooter{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

.infoFooter p {
    color: white;
    padding: .3rem;
}

.infoContact{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.containerPayments img{
    color: white;
}

.companyContainerFooter{
    height: 5rem !important;
}

.contactContainer{
    height: 7rem;
}

.inputSearchFooter{
    align-self: center;
}

@media (max-width: 860px){
    .inputSearchFooter{
        width: 360px;
        align-self: center;
    }
    

    .mainContainerFooter{
        min-height: 35vh;
    }
}

@media (max-width: 600px){
    .containerInfoFooter{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px){
    .inputSearchFooter{
        width: 240px;
        align-self: center;
    }
    .containerFooter{
        flex-direction: column-reverse;
        margin-top: 1rem;
    }
    .containerPayments{
        padding: .6rem 0;
    }
    .nextui-c-iwmZdB{
        width: 80%;
    }
}