body{
    padding-right: 0px !important;
}

.container-navbar {
    position: fixed !important;
    background-color: black !important;
    opacity: 70%;
    z-index: 100;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.ham-search {
    display: flex;
    width: fit-content;
    align-items: center;
}

.logo {
    width: 10rem;
}

.search-container {
    height: 25vh;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.search-input {
    width: 30%;
    margin: auto;
}

.links {
    text-decoration: none;
    color: rgb(66, 64, 64);
}

.no-linkNav {
    text-decoration: none;
    color: white;
}

.search-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    padding-bottom: 2rem;
}

.img-search {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.name-search {
    font-size: 1rem;
    padding: .5rem;
}

.price-search {
    font-size: 1rem;
}

.drawer {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap;
}

.drawer-basket {
    display: flex;
    flex-direction: column;
}

.drawer-product {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
}

.img-drawer {
    width: 3rem;
}

.button-finish-drawer {
    width: 80%;
    margin: .5rem auto;
    padding: .5rem;
    background-color: rgb(223, 220, 220);
    text-align: center;
}

.empty {
    text-align: center;
    font-size: 1.1rem;
    margin: 2rem auto;
}

.container-total-drawer {
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem auto;
}

.name-drawer, .price-drawer {
    text-align: center;
    padding: .2rem;
}

.linkRouter {
    text-decoration: none;
    color: black;
}

@media(max-width: 900px) {
    .logo {
        width: 5rem;
    }
}
