.container-navbar {
    position: fixed !important;
    background-color: black !important;
    opacity: 70%;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    /* opacity: 30%; */
}

.ham-search {
    display: flex;
    width: fit-content;
    align-items: center;
}

.logo {
    width: 10rem;
    /* margin-left: 3rem; */
}

/* .icons {
} */

@media(max-width: 900px) {
    .logo {
        width: 5rem;
    }
}
