.main-containerProdDet {
    padding-top: 6rem;
}

.cards-product-details {
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    min-height: 80vh;
}

.container-img-detail {
    width: 50%;
}

.box-information-product {
    background-color: transparent;
    width: 40%;
}

.card-info-detail {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    width: 100% !important;
    height: 100%;
    padding: 1rem;
    /* border: 1px solid; */
    background-color: transparent !important;
}

.info-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%;
    width: 80%;
}

.img-detail {
    margin: 0 auto !important;
    width: 80% !important;
    object-fit: cover;
}

/* .css-bhp9pd-MuiPaper-root-MuiCard-root {
} */

.title-detail {
    font-size: 2rem !important;
    text-align: left;
}

.price-detail {
    text-align: left ;
}

.title-rating {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    margin: 1rem;
    background-color: black;
    color: white;
    opacity: 85%;
    padding: .4rem 0;
    border-radius: 5px;
    cursor: pointer;
}

.button-fav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    margin: 1rem;
    background-color: #4d4d4d;
    color: white;
    opacity: 50%;
    padding: .4rem 0;
    border-radius: 5px;
    cursor: pointer;
}

.container-selectBotton {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}

.box-select {
    height: 2rem;
    width: 4rem;
    padding-left: .8rem;
    margin-top: 1.2rem;
    font-size: 1rem;
}

.review-title {
    margin: 1rem auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.line {
    height: 1px;
    background-color: rgb(171, 167, 167);
    width: 80%;
    margin: 1rem auto;
}

.box-revInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    /* background-color: red; */
    height: fit-content;
    /* padding: 4rem; */
    /* background-color: rgb(242, 237, 237); */
}

.box-reco {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    /* padding: 4rem; */
    height: fit-content;
    /* background-color: rgb(232, 227, 227); */
}

.review-info {
    display: flex;
    justify-content: center;
    margin: auto;
}


.review-info p {
    margin: .3rem;
}

.review-stars {
    width: fit-content;
    margin: auto;
}

.box-infoRev {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .container-img-detail {
        width: 40% !important;
    }
    .box-information-product {
        background-color: transparent;
        width: 60%;
    }
    .img-detail {
        width: 100% !important;
    }
}

@media (max-width: 700px) {
    .main-containerProdDet {
        padding-top: 5rem;
    }
    .cards-product-details {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 60vh;
        /* background-color: blue; */
    }
    .box-information-product {
        background-color: transparent;
        width: 80%;
    }
    .card-info-detail {
        width: 100% !important;
        /* background-color: red !important; */
        align-items: center;
    }
    .info-detail {
        /* background-color: green; */
        width: 100% !important;
    }
    .container-selectBotton {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100% !important;
        /* background-color: aqua; */
    }
    .button-add {
        width: 12rem !important;
    }
    .button-fav {
        width: 12rem !important;
    }
}
@media (max-width: 400px) {
    .main-containerProdDet {
        padding-top: 4rem;
    }
    .cards-product-details {
        min-height: 40vh;
        /* background-color: blue; */
    }
    .card-info-detail {
        width: 100% !important;
        /* background-color: red !important; */
        align-items: center;
    }
    .container-selectBotton {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100% !important;
        /* background-color: aqua; */
    }
    .button-add{
        width: 10rem !important;
    }
    .button-fav {
        width: 10rem !important;
    }
}

