.reviewContainer {
    width: 90%;
    height: auto;
    /* border: solid 2px black; */
    padding: .5rem;
    margin: 1rem;
}

.css-r40f8v-MuiTypography-root {
    width: 100% !important;
}

.comments {
    display: flex;
    /* justify-content: left; */
    align-items: flex-start;
    flex-direction: column;
}

.comments2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleReviewContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.ratingBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.ratingText {
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem;
}

.everyReview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
    /* border-top: solid 1px black; */
}

.imgReview {
    width: 20%;
    height: 10rem;
    border-right: solid 1px black;
}

.textReview {
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
    width: 75%;
    /* background-color: green; */
}

.ratingDateReview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.descriptionReview {
    text-align: left;
}

.titleReview {
    text-align: left;
    margin-bottom: .5rem;
}

.textarea {
    resize: none;
}

.ratingModal {
    display: flex;
    height: 10rem;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px black;
}

.formBoxReview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: .5rem;
}

.ratingSelector {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formReview {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.box-review {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlereview {
    font-size: 1.3rem;
}

.css-1anpwpq-MuiPaper-root-MuiCard-root {
    width: 75% !important;
}